<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="testscripts.LoginPage_Test"/>
      <class name="testscripts.HomePage_Test"/>
      <class name="testscripts.NewCustomerPage_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
